<Br>
    <div class="row">
        <div class="col-sm-5 col-md-6" style="margin-left: 18%; margin-right: -18%;">
            <img src="assets/2x2_NALCOT.png" class="img-responsive img-rounded" alt="Responsive image" style="max-width: 30%; max-height: 50%;">
        </div>
        <div class="col-md-6" style="margin-left: -15%; margin-right: -15%;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="text-default">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <p>I am Althea Bulacan Nalcot. A 3rd year BSIT student in Colegio de San Juan de Letran.</p>
                    <p>Born on July 20, 2002. I am currently 21 years old.</p>
                </div>
            </div>
        </div>
    </div>
        
      